:root{
	--main-accent: #fc575e;
	--light-accent-color: #f0f1f5;
	--dark-accent-color: #333;
	--main-grey: #555;
}

*{
	margin: 0;
	padding: 0;
	font-family: Arial;
	box-sizing: border-box;
}

body{
	background-color: var(--light-accent-color);
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	cursor: pointer;
}

.container{
	width: 80%;
	margin: 0 auto;
}

.hidden{
	display: none;
}

.header{
	font-size: 24px;
	margin-bottom: 10px;
	color: var(--main-grey);
}
/* Navbar */
nav{
	height: 60px;
	background-color: var(--dark-accent-color);
	margin-bottom: 25px;
}

#navContainer{
	display: flex;
	flex-direction: row;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}

.nav-header{
	color: var(--light-accent-color);
	font-size: 28px;
}

#addBtn{
	font-size: 24px;
	color: var(--light-accent-color);
}

@media only screen and (max-width: 786px){
	nav{
		height: 100px;
	}

	#navContainer{
		flex-direction: column;
		justify-content: center;
	}
}
/* Panel */
.panel{
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 3px var(--main-grey);
	padding: 40px 20px 20px 20px;
	margin: 10px;
}

/* Form */
.form-control{
	width: 100%;
	margin: 8px 0;
	height: 34px;
	border-radius: 5px;
	border: 1px solid var(--main-grey);
	padding: 5px 15px;
	font-size: 14px;
	color: var(--main-grey);
	outline: none;
}

/* Buttons */
input[type="submit"],
button{
	padding: 8px 22px;
	border-radius: 5px;
	border: 1px solid var(--main-accent);
	background-color: var(--main-accent);
	color: var(--light-accent-color);
	font-size: 16px;
	outline: none;
}

input[type="submit"]:hover,
button:hover{
	cursor: pointer;
	color: var(--main-accent);
	background-color: white;
}

.btn-sm{
	font-size: 10px;
	padding: 5px 10px;
}
/*Link*/
.link{
	position: relative;
}

#linksList{
	display: flex;
	flex-wrap: wrap;
}

.flex-item{
	flex-basis: 100%;
}
.link-options{
	position: absolute;
	top: 5px;
	right: 5px;
}

.link-date{
	font-size: 14px;
	font-style: italic;
}

#addedCategories{
	margin-bottom: 10px;
}
.category{
	font-weight: bold;
	padding: 5px;
	margin: 5px 2px;
	border: 1px solid var(--main-accent);
	border-radius: 5px;
	font-size: 10px;
	background-color: var(--main-accent);
	color: var(--light-accent-color);
}

@media only screen and (min-width:786px){
	.flex-item{
		flex-basis: 50%;
	}
}

@media only screen and (min-width:1280px){
	.flex-item{
		flex-basis: 33%;
	}
}